<aside class="menu menu-component">
  <p class="menu-label">
    Início
  </p>
  <ul class="menu-list">
    <li><a [routerLink]="['']">Dashboard</a></li>
  </ul>
  <p class="menu-label">
    Relacionamentos
  </p>
  <ul class="menu-list">
    <li><a>Vendedores</a></li>
    <li>
      <a class="is-active">Leads de Venda</a>
      <ul>
        <li [routerLink]="['/novo-relacionamento']"> <a>Adicionar</a></li>
        <li [routerLink]="['/relacionamentos']"><a>Gerenciar</a></li>
      </ul>
    </li>
  </ul>
  <p class="menu-label">
    Transações
  </p>
  <ul class="menu-list">
    <li><a>Pagamentos</a></li>
    <li><a>Transferência</a></li>
    <li><a>Balanço</a></li>
  </ul>
</aside>