<div class="board">
  <app-page-title [title]="'Novo Relacionamento'"></app-page-title>
  <div class="board-wrapper">
    <div class="board-columns">
      <div class="board-column">
        <div class="column-title">
          Lead
        </div>
        <div class="task-container">
          <div class="columns">
            <div class="column is-6">
              <div class="field">
                <label class="label label-form">Nome</label>
                <div class="control">
                  <input class="input is-small is-small" type="text" placeholder="Nome">
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="field">
                <label class="label label-form">CPF/CNPJ</label>
                <div class="control">
                  <input class="input is-small" type="text" placeholder="Nome">
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label label-form">E-mail</label>
                <div class="control">
                  <input class="input is-small" type="e-mail" placeholder="Nome">
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label label-form">Celular</label>
                <div class="control">
                  <input class="input is-small" type="text" placeholder="Nome">
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label label-form">Telefone</label>
                <div class="control">
                  <input class="input is-small" type="text" placeholder="Nome">
                </div>
              </div>
            </div>
          </div>

          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label label-form">Estado</label>
                <div class="control">
                  <input class="input is-small" type="text" placeholder="Nome">
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label label-form">Cidade</label>
                <div class="control">
                  <input class="input is-small" type="text" placeholder="Nome">
                </div>
              </div>
            </div>
            <div class="column">
              <div class="field">
                <label class="label label-form">Mídia</label>
                <div class="select is-small" style="width: 100%;">
                  <select style="width: 100%;">
                    <option>Select dropdown</option>
                    <option>With options</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="field">
            <label class="label label-form">Observação</label>
            <div class="control">
              <textarea class="textarea is-small" rows="2" placeholder="Textarea"></textarea>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <label class="checkbox">
                <input type="checkbox">
                I agree to the <a href="#">terms and conditions</a>
              </label>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <label class="radio">
                <input type="radio" name="question">
                Yes
              </label>
              <label class="radio">
                <input type="radio" name="question">
                No
              </label>
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link">Submit</button>
            </div>
            <div class="control">
              <button class="button is-link is-light">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>