<div class="board">
  <app-page-title [title]="'Gerenciar Leads'"></app-page-title>
  <div class="board-wrapper">
    <div class="board-columns">
      <div class="board-column">
        <div class="column-title">
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input class="input is-medium" type="text" placeholder="Busque pelo lead...">
              <span class="icon is-small is-left">
              </span>
            </p>
          </div>
          <div class="select">
            <select>
              <option value="" disabled selected>Situação</option>
              <option>Todos</option>
              <option>Aguardando Contato Inicial</option>
              <option>Em Negociação</option>
              <option>Venda</option>
              <option>Insucesso</option>
            </select>
          </div>
        </div>
        <div class="task-container relacionamentos">
          <div class="columns task">
            <div class="column is-1">Código</div>
            <div class="column is-3">Situação</div>
            <div class="column is-3">Cliente</div>
            <div class="column is-3">Celular</div>
            <div class="column is-2">Vendedor</div>
          </div>
          <div class="columns task">
            <div class="column is-1">158840</div>
            <div class="column is-3">Aguardando Contato</div>
            <div class="column is-3">Francisco Ramon Silveira</div>
            <div class="column is-3">(31) 9 8542 4847</div>
            <div class="column is-2">Kátia Lunares</div>
          </div>
          <div class="task">
            <div class="column is-1">158840</div>
            <div class="column is-3">Aguardando Contato</div>
            <div class="column is-3">Francisco Ramon Silveira</div>
            <div class="column is-3">(31) 9 8542 4847</div>
            <div class="column is-2">Kátia Lunares</div>
            <div class="column is-2"></div>
          </div>
          <div class="task">
            <div class="column is-1">158840</div>
            <div class="column is-3">Aguardando Contato</div>
            <div class="column is-3">Francisco Ramon Silveira</div>
            <div class="column is-3">(31) 9 8542 4847</div>
            <div class="column is-2">Kátia Lunares</div>
            <div class="column is-2"></div>
          </div>
          <div class="task">
            <div class="column is-1">158841</div>
            <div class="column is-3">Aguardando Contato</div>
            <div class="column is-3">Wilian Silveiro Fernandes</div>
            <div class="column is-3">(31) 9 8451 1204</div>
            <div class="column is-2">Kátia Lunares</div>
            <div class="column is-2"></div>
          </div>
          <div class="task">
            <div class="column is-1">158842</div>
            <div class="column is-3">Em Atendimento</div>
            <div class="column is-3">Márcia Florence Lipa</div>
            <div class="column is-3">(31) 9 9845 4100</div>
            <div class="column is-2">Kátia Lunares</div>
            <div class="column is-2"></div>
          </div>
          <div class="task">
            <div class="column is-1">158843</div>
            <div class="column is-3">Em Atendimento</div>
            <div class="column is-3">Francisco Ramon Silveira</div>
            <div class="column is-3">(31) 9 8542 4847</div>
            <div class="column is-2">Kátia Lunares</div>
            <div class="column is-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>